/*  Font Family import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* ------------------------------------------------------------General Stylings  */
body {
    margin: 0px;
    min-height: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------------------------Intro Screen */

#introBox {
    margin: 100px 60px;
    border-radius: 15px;
    box-shadow: silver 1px 5px 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

#introBox h1 {
    display: inline-block;
    color:#26a69a;
    font-family: Merriweather;   
    font-size: 4rem; 
    font-weight: bold;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
}

#introBox p {
    color: white;
    font-family: Merriweather;   
    font-size: 1.5rem; 
    text-align: center;
    text-shadow: rgb(88, 88, 105) 5px 5px 15px;
    margin-right: 15px;
    margin-left: 15px;
}

/* ------------------------------------------------------------Buttons */

.btn-large {
    margin: 20px;
    background-color: blue;
    margin-bottom: 20px;
}

.custom-btn {
    width: 75%;
    height: 75%;
}

.hover-btn:hover {
    text-decoration: none;
    color: white;
}

.sell-btn {
    height: 100px;
}

.buy-stock-btn:hover {
    color:white; 
    text-decoration: none;
}

/* ------------------------------------------------------------Flash Messaging */

#flash-messages {
    height:100px;
    background-color: pink;
    color: black;
}

.fa-exclamation-triangle {
    color: black;
    font-size: 2rem;
}

.fa-check {
    color: black;
}


/* ------------------------------------------------------------Registration Page */

#registration-form {
    margin-left: 450px;
    margin-right: 450px;
}

/* ------------------------------------------------------------Authentication base page */
.margins-10 {
    margin: 10px;
}


/* ------------------------------------------------------------Open(Open Position and Profile pages) and Closed Positions  */
.positions_title {
  box-shadow: 0 0.25rem rgb(54, 185, 204, 0.55);
}

.stock-quotes {
    text-align: center;
    line-height: 32px;
}

.position_title {
    text-align: center;
}

/* ------------------------------------------------------------Profile Page  */

.negative_profile {
    font-size: 1.75rem;
    color: red;
    font-weight: 700 !important;
    line-height: 1.2;
}

.positive_profile {
    font-size: 1.75rem;
    color: green;
    font-weight: 700 !important;
    line-height: 1.2;
}

#funds_btn {
    font-family: Merriweather; 
    color: #36b9cc;
    border: none;
    background: none;

}

#funds_btn:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------------Top Nav Bar */

.negative_bar {
    color: red;
    font-weight: 700 !important;
    line-height: 1.2;
}

.positive_bar {
    color: green;
    font-weight: 700 !important;
    line-height: 1.2;
}

/* ------------------------------------------------------------Purchase/Sell Stock Pages */
.margin-top {
    margin-top: 20px;
}

/* ------------------------------------------------------------MEDIA QUERIES */

@media screen and (min-width: 768px) and (max-width: 1024px) {
#registration-form {
    margin: auto;
    width: 75%;
}

.stock-quotes,
.position_title {
    font-size: 0.75rem;
}

}

@media screen and (min-width: 425px) and (max-width: 767px){

#registration-form {
    margin-left: 50px;
    margin-right: 50px;
}

.sm-view span {
    display: none;
}

#introBox {
    margin: 40px 20px;
}

.none-small {
    display: none;
}

.md-funds-bar {
    width: 140px;
}

.stock-quotes,
.position_title {
    font-size: 0.75rem;
}

.only-small {
    display: none;
}

.container {
    padding: 0;
    margin: 0;
}

.input {
    padding: 0;
}

}

@media screen and (min-width: 376px) and (max-width: 424px){

#registration-form {
    margin-left: 5px;
    margin-right: 5px;
}

.sm-view span {
    display: none;
}

#logout_btn,
#logout_btn > span {
    width: 80px;
}

.none-small {
    display: none;
}

#introBox {
    margin: 40px 20px;
}

.stock-quotes,
.position_title {
    font-size: 0.75rem;
}

.container {
    padding: 0;
    margin: 0;
}

.input {
    padding: 0;
}
}

@media screen and (min-width: 0px) and (max-width: 375px){

#registration-form {
    margin-left: 5px;
    margin-right: 5px;
}

.sm-view span {
    display: none;
}

#logout_btn,
#logout_btn > span {
    width: 80px;
}

.none-small {
    display: none;
}

.none-xs {
    display: none;
}

#introBox {
    margin: 40px 20px;
}

.stock-quotes,
.position_title {
    font-size: 0.75rem;
}

.buy-stock-btn {
    padding: 0 !important;
    width: 45px;
}

.container {
    padding: 0;
    margin: 0;
}

.input {
    padding: 0;
}

.custom-btn {
    padding: 0;
}

}