@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
    margin: 0px;
    min-height: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}

#introBox {
    margin: 100px 60px;
    border-radius: 15px;
    box-shadow: silver 1px 5px 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

#introBox h1 {
    display: inline-block;
    color:#26a69a;
    font-family: Merriweather;   
    font-size: 4rem; 
    font-weight: bold;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
}

#introBox p {
    color: white;
    font-family: Merriweather;   
    font-size: 1.5rem; 
    text-align: center;
    text-shadow: rgb(88, 88, 105) 5px 5px 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.btn-large {
    margin: 20px;
    background-color: blue;
    margin-bottom: 20px;
}

.custom-btn:hover {
    text-decoration: none;
    color: white;
}

#flash-messages {
    height:100px;
    background-color: pink;
    color: black;
}

.fa-exclamation-triangle {
    color: black;
    font-size: 2rem;
}

.fa-check {
    color: black;
}

#registration-form {
    margin-left: 450px;
    margin-right: 450px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.margins-10 {
    margin: 10px;
}

.positions_title {
  box-shadow: 0 0.25rem rgb(54, 185, 204, 0.55);
}

.stock-quotes {
    line-height: 32px;
}

.buy-stock-btn:hover {
    color:white; 
    text-decoration: none;
}

.margin-top {
    margin-top: 20px;
}

@media screen and (min-width: 425px) and (max-width: 1025px){

#registration-form {
    margin-left: 50px;
    margin-right: 50px;
}


}

@media screen and (min-width: 0px) and (max-width: 424px){

#registration-form {
    margin-left: 5px;
    margin-right: 5px;
}


}