{% extends 'base.html' %}
{% block content %}
    <div class="row buy">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <input disabled id="ticker" name="ticker" value="AAPL" type="text" class="validate disabled">
                    <label for="ticker">Symbol</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input disabled id="purchase_price" name="purchase_price"
                        value="&#36 {{ stock_ibm[0][yesterday]['4. close']|float|round(2, 'floor')  }}" type="text"
                        class="validate disabled">
                    <label for="purchase_price">Purchase Price</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="stock_amount" name="stock_amount" type="text" class="validate" required>
                    <label for="stock_amount">Amount</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input disabled id="money_amount" name="money_amount" value="&#36 " type="text"
                        class="validate disabled">
                    <label for="money_amount">Necessary Funds</label>
                    <!--HOW TO MAKE THIS VALUE = AMOUNT * PURCHASE_PRICE ???-->
                </div>
            </div>
            <div class="center-align">
                <button class="waves-effect waves-light btn-large custom-btn green" type="submit"><i class="fas fa-shopping-cart right"></i>Finalize Purchase</button> 
            </div> 
        </form>
    </div>
{% endblock %}