{% extends "authentication.html" %}
{% block content %}
    <!-- Intro text on landing page-->
    <div id="introBox" class="center-align">
        <h1>MY BROKER</h1>
        <p>It's not only my broker but it's also yours, in fact it's everyone's!</p> 
        <p>This broker was created for educational purposes. You can use it to practice your analytics and investment skills.</p> 
        <p>Give it a try! No real money involved so no loss can occur!</p>  
        <a class="waves-effect waves-light btn-large hover-btn" href="{{ url_for('register') }}"><i class="fas fa-user-plus right"></i>Create Account</a> 
        <a class="waves-effect waves-light btn-large hover-btn" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt right"></i>Log In</a>  
    </div>    
{% endblock %}