{% extends 'base.html' %}
{% block content %}
    <h3 class="left-align">Open Positions</h3>

    <div class="row positions_title py-2">
        <div class="col s2 "><b>Symbol</b></div>
        <div class="col s2"><b>Purchase Date</b></div>
        <div class="col s2"><b>Unit Price</b></div>
        <div class="col s2"><b>Amount of Stocks</b></div>
        <div class="col s2"><b>Funds Used</b></div>
        <div class="col s2"><b>Profit/Loss</b></div>
        <div class="col s2"></div>
        <div class="col s4"></div>
    </div>

    {% for transaction in transaction_lst %}
    <div class="row shadow py-2">
        <div class="col s2 stock-quotes">
            {{ transaction.ticker }}
        </div>
        <div class="col s2 stock-quotes">
            {{ transaction.purchase_date }}
        </div>
        <div class="col s2 stock-quotes">
            {{ transaction.purchase_price }}
        </div>
        <div class="col s2 stock-quotes">
            {{ transaction.stock_amount }}
        </div>
        <div class="col s2 stock-quotes">
            {{ transaction.stock_amount|float * transaction.purchase_price|float }}
        </div>
        <div class="col s2 stock-quotes">
            {{ ((transaction.purchase_price|float - stock_aapl[0][yesterday]['4. close']|float) * transaction.stock_amount|int)|float|round(3, 'floor') }}
        </div>
        <div class="col s1 stock-quotes">
            <a class="waves-effect waves-light btn-small orange modal-trigger buy-stock-btn" href="{{ url_for('partialSell', position_id=transaction._id) }}">Sell partial amount</a>
        </div>
        <div class="col s1 stock-quotes">
            <a class="waves-effect waves-light btn-small red modal-trigger buy-stock-btn" href="{{ url_for('partialSell', position_id=transaction._id) }}">Sell total amount</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}