{% extends 'base.html' %}
{% block content %}
    <h3 class="left-align">Open Positions</h3>

    <div class="row positions_title py-2">
        <div class="col s2 position_title"><b>Symbol</b></div>
        <div class="col s2 position_title"><b>Purchase Date</b></div>
        <div class="col s2 position_title"><b>Unit Price</b></div>
        <div class="col s2 position_title"><b>Amount of Stocks</b></div>
        <div class="col s2 position_title"><b>Funds Used</b></div>
        <div class="col s2 position_title"><b>Profit/Loss</b></div>
        <div class="col s4"></div>
    </div>

    {% for transaction in transaction_lst %}
        {% if session.user|lower == transaction.created_by|lower %}
            <div class="row shadow py-2">
                <div class="col s2 stock-quotes">
                    {{ transaction.ticker }}
                </div>
                <div class="col s2 stock-quotes">
                    {{ transaction.purchase_date }}
                </div>
                <div class="col s2 stock-quotes">
                    {{ transaction.purchase_price }}
                </div>
                <div class="col s2 stock-quotes">
                    {{ transaction.stock_amount }}
                </div>
                <div class="col s2 stock-quotes">
                    {{ '{:,.2f}'.format((transaction.stock_amount|float * transaction.purchase_price|float)|round(2, 'floor')) }}
                </div>
                <div class="col s2 stock-quotes">
                    {{ ((stock_aapl[0][yesterday]['4. close']|float - transaction.purchase_price|float) * transaction.stock_amount|int)|float|round(2, 'floor') }}
                </div>
                <div class="col s1 stock-quotes">
                    <a class="waves-effect waves-light btn-small red modal-trigger buy-stock-btn" href="{{ url_for('sell', position_id=transaction._id) }}">Sell</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}