{% extends 'base.html' %}
    {% block content %}
        <!-- Page Title -->
        <h3 class="left-align">Open Positions</h3>

        <!-- Titles for list of open positions -->
        <div class="row positions_title py-2">
            <div class="col s2 position_title"><b>Symbol</b></div>
            <div class="col s2 position_title none-small"><b>Purchase Date</b></div>
            <div class="col s2 position_title"><b>Unit Price</b></div>
            <div class="col s2 position_title none-small"><b>Amount of Stocks</b></div>
            <div class="col s2 position_title none-small"><b>Funds Used</b></div>
            <div class="col s2 position_title"><b>Profit/Loss</b></div>
            <div class="col s4"></div>
        </div>

        <!-- for loop over the transactions on MongoDB's database in order to display them on the page-->
        {% for transaction in transaction_lst %}
            {% if session.user|lower == transaction.created_by|lower %}
                <div class="row shadow py-2">
                    <!-- Ticker Symbol -->
                    <div class="col s2 stock-quotes">
                        {{ transaction.ticker }}
                    </div>
                    <!-- Purchase Date -->
                    <div class="col s2 stock-quotes none-small">
                        {{ transaction.purchase_date }}
                    </div>
                    <!-- Purchase Price -->
                    <div class="col s2 stock-quotes none-xs">
                        &#36 {{ transaction.purchase_price }}
                    </div>
                    <!-- Amount of Stock owned -->
                    <div class="col s2 stock-quotes none-small">
                        {{ transaction.stock_amount }}
                    </div>
                    <!-- Total Purchase Price -->
                    <div class="col s2 stock-quotes none-small">
                        &#36 {{ '{:,.2f}'.format((transaction.stock_amount|float * transaction.purchase_price|float)|round(2, 'floor')) }}
                    </div>
                    <!-- Profit/Loss Amount -->
                    <div class="col s2 stock-quotes">
                        &#36 {{ ((stock_aapl[0][yesterday]['4. close']|float - transaction.purchase_price|float) * transaction.stock_amount|int)|float|round(2, 'floor') }}
                    </div>
                    <!-- Sell Button -->
                    <div class="col s1 stock-quotes">
                        <a class="waves-effect waves-light btn-small red modal-trigger buy-stock-btn"
                            href="{{ url_for('sell', position_id=transaction._id) }}">Sell</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    {% endblock %}