{% extends "base.html" %}
{% block content %}
    <h3 class="left-align">Hi there, {{ first_name }}!</h3>
    <p class="left-align">This is your personal dashboard where you can find an overview of your account</p>

    <div class="row height-zero">
    
        <!-- Available Funds Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-m font-weight-bold text-info text-uppercase mb-1">Available Funds</div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">
                                {{ funds_available }}    
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-wallet fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Profit/Loss -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-m font-weight-bold text-info text-uppercase mb-1">Profit/Loss</div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">
                                {{ profit_loss_lst|sum }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Open Positions -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-m font-weight-bold text-info text-uppercase mb-1">Open Positions</div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">
                                {{ transactions.count() }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bullseye fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row positions_title py-2">
        <div class="col s2 "><b>Symbol</b></div>
        <div class="col s2"><b>Purchase Date</b></div>
        <div class="col s2"><b>Unit Price</b></div>
        <div class="col s2"><b>Amount of Stocks</b></div>
        <div class="col s2"><b>Funds Used</b></div>
        <div class="col s2"><b>Profit/Loss</b></div>
    </div>
    
    {% for transaction in transaction_lst %}
        <div class="row shadow py-2">
            <div class="col s2 ">
                {{ transaction.ticker }}
            </div>
            <div class="col s2">
                {{ transaction.purchase_date }}
            </div>
            <div class="col s2">
                {{ transaction.purchase_price }}
            </div>
            <div class="col s2">
                {{ transaction.stock_amount }}
            </div>
            <div class="col s2">
                {{ transaction.stock_amount|float * transaction.purchase_price|float }}
            </div>
            <div class="col s2">
                {{ ((transaction.purchase_price|float - stock_aapl[0][yesterday]['4. close']|float) * transaction.stock_amount|int)|float|round(3, 'floor') }}
            </div>     
        </div>
    {% endfor %}

{% endblock %}
