{% extends 'base.html' %}
{% block content %}
    <div id="row">
        <div class="col s12 m5">
            <div class="card-panel">
                <div class="col s12">
                    <h4 id="purchase">Sell Stocks</h4>
                </div>
                <div class="divider"></div>
                <div class="col s12 margin-top">
                    <form class="col s12" method="POST" action="{{ url_for('sell', position_id=open_position._id ) }}">
                        <div class="row">
                            <div class="col s6">
                                <label class="center_label" for="ticker">Symbol</label>
                                <input readonly id="ticker" name="ticker" value="AAPL" type="text"
                                    class="validate disabled">
                            </div>
                            <div class="col s6">
                                <label class="center_label" for="stocks_owned">Stocks Owned</label>
                                <input readonly id="stocks_owned" name="stocks_owned"
                                    value="{{ open_position.stock_amount}}"
                                    type="number" class="validate disabled">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <label class="center_label" for="purchase_price_sell">Purchase Price</label>
                                <input readonly id="purchase_price_sell" name="purchase_price_sell"
                                    value="{{ open_position.purchase_price}}"
                                    type="number" class="validate disabled">
                            </div>
                            <div class="col s6">
                                <label class="center_label" for="selling_price">Selling Price</label>
                                <input readonly id="selling_price" name="selling_price"
                                    value="{{ stock_aapl[0][yesterday]['4. close']|float|round(3, 'floor')  }}"
                                    type="number" class="validate disabled">
                            </div>
                        </div>
                        <div class="container">
                            <div class="col s1 offset-s2">
                                <label class="center_label" for="stock_amount_sell">Amount</label>
                                <input placeholder="Insert stock amount" id="stock_amount_sell" name="stock_amount_sell" type="number"
                                    class="validate" required>
                            </div>
                        </div>
                        <div class="container">
                            <div class="col s1 offset-s2">
                                <label class="center_label" for="money_amount_sell">Incoming Funds</label>
                                <input readonly id="money_amount_sell" name="money_amount_sell" type="number" class="disabled">
                            </div>
                        </div>

                        <section>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %} 
                                            <div class="row">
                                                <div class="center">
                                                    <div class="card-panel red accent-4">
                                                        <i class="fas fa-exclamation-triangle"></i><span class="white-text center-align"> {{ message }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </section>


                        <div class="center-align">
                            <button class="waves-effect waves-light btn-large custom-btn green" type="submit"><i
                                    class="fas fa-shopping-cart right"></i>Finalize</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}