{% extends "base.html" %}
{% block content%}
    <div class="row positions_title py-2">
        <div class="col s2 position_title"><b>Company</b></div>
        <div class="col s2 position_title"><b>Symbol</b></div>
        <div class="col s2 position_title"><b>Open Price</b></div>
        <div class="col s2 position_title"><b>High</b></div>
        <div class="col s2 position_title"><b>Low</b></div>
        <div class="col s2 position_title"><b>Closing Price</b></div>
        <div class="col s4"></div>
    </div>


    <div class="row shadow py-2">
        <div class="col s2 stock-quotes">
            <b>Apple Inc</b>
        </div>
        <div class="col s2 stock-quotes">
            AAPL
        </div>
        <div class="col s2 stock-quotes">
            &#36 {{ stock_aapl[0][yesterday]['1. open']|float|round(3, 'floor')  }}
        </div>
        <div class="col s2 stock-quotes">
            &#36 {{ stock_aapl[0][yesterday]['2. high']|float|round(3, 'floor') }}
        </div>
        <div class="col s2 stock-quotes">
            &#36 {{ stock_aapl[0][yesterday]['3. low']|float|round(3, 'floor')  }}
        </div>
        <div class="col s2 stock-quotes">
            &#36 {{ stock_aapl[0][yesterday]['4. close']|float|round(3, 'floor')  }}
        </div>
        <div class="col s2">
            <a class="waves-effect waves-light btn-small green buy-stock-btn" href="{{ url_for('purchaseStocks') }}">Buy</a>
        </div>
    </div>
    
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if message == "Not enough funds" %}    
                        <div class="row">
                            <div class="center">
                                <div class="card-panel red accent-4">
                                    <i class="fas fa-exclamation-triangle"></i><span class="white-text center-align"> {{ message }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if message == "Purchase Successful" %}    
                        <div class="row">
                            <div class="center">
                                <div class="card-panel green accent-4">
                                    <i class="fas fa-check"></i><span class="white-text center-align"> {{ message }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
{% endblock %}